[submodule "OvertakeAssistant"]
	path = OvertakeAssistant
	url = https://github.com/Piggywu981/OvertakeAssistant.git
[submodule "SequentialAutoShift"]
	path = SequentialAutoShift
	url = https://github.com/Piggywu981/SequentialAutoShift.git
[submodule "SpeedLimitUnlocker"]
	path = SpeedLimitUnlocker
	url = https://github.com/Piggywu981/SpeedLimitUnlocker.git
[submodule "AutoParking"]
	path = AutoParking
	url = https://github.com/Piggywu981/AutoParking.git
